<a href="https://colab.research.google.com/github/Juan2005855/estructura-de-datos/blob/main/EstructurasDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estructuras de datos

Una estructura de datos es una forma organizada de almacenar y manejar información para que pueda ser utilizada de manera eficiente.

## Listas
Las listas son un tipo de colección que sirve para almacenar cualquier tipo de datos. Se caracterizan por ser mutables e indexadas. Mediante arreglos de listas de listas se puede simular el comportamiento de Matrices. Adicionalmente python incorpora la clase list, la cual incorpora métodos para el manejo de los datos que hacen parte de la lista. En este cuaderno verificaremos el procesamiento básico de listas y las funcionalidades otorgadas por la clase list.

In [ ]:
# Para crear listas se pueden seguir varios métodos
miLista = [2,3]    # Lista vacía. Note el uso de los corchetes
print(miLista)
miLista = list() # Otra lista vacía. Note que de esta manera se instancia una lista
print(miLista)
miLista = [1, 2, 3,5,6]
print(miLista)

[2, 3]
[]
[1, 2, 3]

In [ ]:
listaNueva = [1, 2.5, "String", True]

In [ ]:
listaNueva[0]

1

In [ ]:
# Observemos ahora la indexación de las listas
print(miLista[2])  # Imprimir el valor en el indice 0
print(miLista[-2]) # Note el uso de indices negativos
print(miLista[1:4]) # También se pueden utilizar rangos de indices

In [ ]:
print(miLista[-4])

In [ ]:
# Observe que ocurre en este caso
print(miLista[-2])

2

In [ ]:
miLista

[1, 2, 3]

In [ ]:
# Miremos ahora la mutabilidad de las listas
miLista[2] = 7
print(miLista)

[5, 1, 7, '10000']

#### **Ejercicio 1**

Suma los elementos en la lista [2, 4, 7, 10, 11, 31, 14, 17, 45, 100]

In [ ]:
# Solución del ejercicio 1
lista = [2, 4, 7, 10, 11, 31, 14, 17, 45, 100]
suma = 0
for i in lista:
    suma = suma + i
print(suma)

241

In [ ]:
# Miremos también la posibilidad de almacenar diferentes tipos de datos
miLista[2] = "Hola mundo"
print(miLista)

[5, 1, 'Hola mundo', '10000']

In [ ]:
# Ahora recordemos que los strings se comportan de manera similar a una lista
print(miLista[2][0:3])

Hol

In [ ]:
# otra forma de acceder a los datos desde el comienzo hasta determinado
# indice o desde determinado indice hasta el final es mediante :
print(miLista[:2])
print(miLista[2:])

In [ ]:
# Mediante indices, también se pueden insertar nuevos elementos en una lista
# o reemplazar algunos ya existentes
# por ejemplo:
miLista[5:] = ["10000"]
print(miLista)
miLista[1:3] = [1,2]
print(miLista)

In [ ]:
# Mediante listas también se pueden realizar operaciones relacionales
otraLista = [1, 2, 3]
#print(miLista==otraLista)
#print(miLista!=otraLista)

listaA = [1, 2, 3]
listaB = [1, 2, 5]
print(listaA > listaB)
print(listaA < listaB)

False
True

In [ ]:
# Observemos ahora lo siguiente>
listaC = listaA
print(listaC)
# ¿Será listaC una auténtica copia de listaA?

[1, 2, 3]

In [ ]:
# Miremos lo siguiente:
listaA[0] = 5
print(listaC[0])
listaC[0] = 1
print(listaA)

5
[1, 2, 3]

In [ ]:
listaC = listaA[:]
listaA[0] = 5
print(listaC)
print(listaA)

# Note que en este caso las modificaciones en listaA no afectan a listaC

[1, 2, 3]
[5, 2, 3]

In [ ]:
# otra forma de hacerlo es mediante el método copy de la clase list
listaC = listaA.copy()
print(listaC)
print(listaA)

[5, 2, 3]
[5, 2, 3]

#### **Ejercicio 2**
Encontrar el elemento máximo de la lista [14, 8, 21, 6, 42, 35]

In [ ]:
# Solución ejercicio 2
#Encontrar el elemento máximo de la lista [14, 8, 21, 6, 42, 35]
lista = [14, 8, 21, 6, 42, 35]
max = lista[0]
for i in range(len(lista)):
    if lista[i] > max:
        max = lista[i]
print(max)

42

#### **Ejercicio 3**
Contar los elementos pares e impares de la lista [11, 20, 33, 44, 54, 74, 12, 6, 2, 10]

In [ ]:
# Solución ejercicio 3
#Contar los elementos pares e impares de la lista [11, 20, 33, 44, 54, 74, 12, 6, 2, 10]
lista = [11, 20, 33, 44, 54, 74, 12, 6, 2, 10]
pares = 0
impares = 0
for i in range (len (lista)):
    if lista[i] % 2 == 0:
        pares += 1
    else:
        impares += 1
print ("La lista tiene", pares, "elementos pares y", impares, "elementos impares")
print ("La lista tiene", len(lista), "elementos")

La lista tiene 8 elementos pares y 2 elementos impares
La lista tiene 10 elementos

## Otros métodos de la clase list

In [ ]:
listaA

[5, 'Dato insertado', 2, 3, 5, 2]

In [ ]:
# método append
listaA.append("Esto es un String") # permite agregar un elemento en la ultima posicion
print(listaA)

[5, 'Dato insertado', 2, 3, 5, 2, 'Esto es un String']

In [ ]:
listaC

[5, 2, 3]

In [ ]:
# método extend
listaA.extend(listaC) # es para agregar los elemento de una lista a otra lista
print(listaA)

[5, 2, 3, 'Esto es un String', 5, 2, 3]

In [ ]:
listaC.extend(listaA)

In [ ]:
print(listaC)

[5, 2, 3, 5, 2, 3, 'Esto es un String', 5, 2, 3]

In [ ]:
# método insert
listaA.insert(1,"Dato insertado") # se inserta el elemendo es uno pocicion especifica
print(listaA)

[5, 'Dato insertado', 2, 3, 'Esto es un String', 5, 2, 3]

#### **Ejercicio 4**
Dada una lista de números, utiliza un método para crear una nueva lista que contenga el doble de cada número en la lista original:

[2, 7, 8, 10, 14, 3, 4, 20]

In [ ]:
# Solución Ejercicio 4
lista = [2, 7, 8, 10, 14, 3, 4, 20]
lista2 = []
for i in range(len(lista)):
    lista2.append(lista[i]*2)
print(lista2)
lista.extend(lista2)
print(lista)

[4, 14, 16, 20, 28, 6, 8, 40]
[2, 7, 8, 10, 14, 3, 4, 20, 4, 14, 16, 20, 28, 6, 8, 40]

In [ ]:
# método index
print(listaA.index(2)) #permite  saber la posicion

In [ ]:
for i in listaA:
  if i == 2:
    print ("Dato encontrado")

In [ ]:
# método remove
listaA.remove("Esto es un String")
print(listaA)

[5, 'Dato insertado', 2, 3, 5, 2, 3]

In [ ]:
# método pop -> último valor y desde una posición en específico

listaA.pop()
print(listaA)

[5, 'Dato insertado', 2, 3, 5, 2]

#### **Ejercicio 5**
Dada una lista de números, utiliza un método para eliminar todos los elementos que sean iguales a un valor dado

In [ ]:
# Solución ejercicio 5
lista = [2, 7, 8, 10, 14, 3, 4, 20,2]
for i in lista:
    if i == 7:
        lista.remove(7)
print(lista)

[2, 8, 10, 14, 3, 4, 20, 2]

In [ ]:
restaindx = 0
lista = [2, 2, 8, 10, 14, 3, 4, 20,2]
Valor = int(input ( "ingrese el valor a eliminar: "))
for i in range(len(lista)):
    if lista[i - restaindx] == Valor:
        lista.pop(i - restaindx)
        restaindx += 1
print(lista)

ingrese el valor a eliminar: 2
[8, 10, 14, 3, 4, 20]

In [ ]:
lista = [2, 2, 8, 10, 14, 3, 4, 20,2]
Valor = int(input ( "ingrese el valor a eliminar: "))
while Valor in lista:
    lista.remove(Valor)
print(lista)

ingrese el valor a eliminar: 2
[8, 10, 14, 3, 4, 20]

In [ ]:
# métodos reverse y sort
listaD = [1,3,9,7,6,8]
listaD.sort()
print(listaD)

[1, 3, 6, 7, 8, 9]

In [ ]:
listaD.reverse() # si se combina con el .sort ser crearia una lista de mayor a menor
print(listaD)

[9, 8, 7, 6, 3, 1]

## Tuplas
Una tupla es una estructura de datos inmutable en Python que permite almacenar un conjunto de elementos. Al ser inmutable, no se pueden modificar (agregar, eliminar o cambiar) después de su creación, lo que las hace útiles cuando se necesita un conjunto fijo de valores.

In [ ]:
# Creación de Tuplas
# Puedes crear una tupla utilizando paréntesis o la función `tuple()`.

# Ejemplo 1: Tupla vacía
tupla_vacia = ()
print("Tupla vacía:", tupla_vacia)

Tupla vacía: ()

In [ ]:
# Ejemplo 2: Tupla con varios elementos
tupla_ejemplo = (1, 2, 3, "Python", True)
print("Tupla con elementos:", tupla_ejemplo)

Tupla con elementos: (1, 2, 3, 'Python', True)

In [ ]:
tupla_ejemplo[0:3]

(1, 2, 3, 'Python')

In [ ]:
# Ejemplo 3: Crear una tupla usando `tuple()`
tupla_a_partir_de_lista = tuple([1, 2, 3, 4])
print("Tupla creada desde una lista:", tupla_a_partir_de_lista)

Tupla creada desde una lista: (1, 2, 3, 4)

In [ ]:
tupla = tuple([10, 20, 30, 40, 50])
print("Elemento en el índice 0:", tupla[0])
print("Elemento en el índice 3:", tupla[3])

Elemento en el índice 0: 10
Elemento en el índice 3: 40

**Ejercicio 6:** Crea una tupla que contenga el nombre, la edad y la profesión de una persona. Luego, imprime cada elemento por separado.

In [ ]:
# Ingrese el código
nombre = input("Ingrese el nombre: ")
edad = int(input("Ingrese la edad: "))
profesion = input("Ingrese la profesión: ")
tupla = (nombre,edad,profesion)
for i in tupla:
  print(i)

Ingrese el nombre: juan
Ingrese la edad: 19
Ingrese la profesión: estudiante
juan
19
estudiante

In [ ]:
# Los índices también pueden ser negativos:
print("Elemento en el índice -1 (ultimo elemento):", tupla[-1])
print("Elemento en el índice -2:", tupla[-2])

Elemento en el índice -1 (ultimo elemento): estudiante
Elemento en el índice -2: 19

In [ ]:
# Puedes unir dos tuplas utilizando el operador `+`.
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
tupla_concatenada = tupla1 + tupla2
print("Tuplas concatenadas:", tupla_concatenada)

Tuplas concatenadas: (1, 2, 3, 4, 5, 6)

In [ ]:
tupla_concatenada

(1, 2, 3, 4, 5, 6)

In [ ]:
# Usa `in` y `not in` para verificar si un elemento está en la tupla.
print("3 está en tupla1:", 3 in tupla1)
print("7 no está en tupla1:", 7 not in tupla1)
print("7 no está en tupla2:", 7 in tupla_concatenada)

3 está en tupla1: True
7 no está en tupla1: True
7 no está en tupla2: False

In [ ]:
# Desempaquetado de Tuplas
# Puedes asignar los elementos de una tupla a variables de manera directa.
tupla = (1, 2, 3)
a, b, c = tupla
print("Valores desempaquetados: a =", a, ", b =", b, ", c =", c)

Valores desempaquetados: a = 1 , b = 2 , c = 3

In [ ]:
# Las tuplas son útiles para retornar múltiples valores de una función.
def operaciones_basicas(a, b):
  pass

**Ejercicio 7:** Escribe una función que reciba una tupla con tres números y devuelva una nueva tupla con el cuadrado, el cubo y la raiz cuadrada de cada uno de esos números. Usa la función para calcular los valores de la tupla (4, 9, 16).

In [ ]:
# Ingrese el código
tupla = (4, 9, 16)
tupla2= ()
for i in tupla:
  tupla2 =tupla2 + (i ** 2 , i ** 3,i ** 0.5)
print(tupla2)

(16, 64, 2.0, 81, 729, 3.0, 256, 4096, 4.0)

## Conjuntos
Los conjuntos son un tipo especial de colecciones de datos pensados para el procesamiento de algebra de conjuntos. Desde esta lógica un conjunto es una colección mutable, no indexada, que puede contener cualquier tipo de dato. Para los conjuntos python también dispone de una clase denominada set. Veremos como trabajar con estas colecciones y sus principales métodos.

In [ ]:
# Crear un conjunto vacío
miConjunto = set() # la palabra reservada para crear un conjunto
print(miConjunto)

set()

In [ ]:
miConjunto = {} # Forma incorrecta de definir un conjunto
print(miConjunto)
print(type(miConjunto))

{}
<class 'dict'>

In [ ]:
numeros = {1,2,3,4,4,5,6,7,8,9}
print(numeros)
print(type(numeros))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [ ]:
numeros_pares = {2,4,6,8}
print(numeros_pares)

{8, 2, 4, 6}

In [ ]:
# método pop elimina valores al asar
numeros_pares.pop()
print(numeros_pares)

{2, 4, 6}

In [ ]:
# método add agrega valores
numeros_pares.add(10)
print(numeros_pares)

In [ ]:
# método discard permite eliminar un valor en especifico
numeros_pares.discard(2)
print(numeros_pares)

In [ ]:
# método remove elimina tambien para un valor en especifico  y si no encontra el valor generar un error  el discard no genera el error
numeros_pares.remove(4)
print(numeros_pares)

{2, 6}

In [ ]:
for i in numeros_pares:
  print(i)

2
6

In [ ]:
# método clear permite elimina todos los valores del conjunto
numeros_pares = {0,2,4,6,8}
numeros_pares.clear()
print(numeros_pares)

set()

## Diccionarios
Un diccionario es un tipo de colección de datos que permite almacenar información a manera de claves y valores (clave:valor). Se caracterizan por ser mutables, indexados y por contener cualquier tipo de datos. Python incorpora la clase dict para proporcionar métodos de manipulación de diccionarios.

In [ ]:
# Creación de diccionarios vacíos
miDiccionario = dict() #palabra reservada dict
print(miDiccionario)
miDiccionario = {}
print(miDiccionario)

In [ ]:
# Creación de un diccionario
miDiccionario = {'Alejo':34,'Felipe':45,'Camila':16,'Jhoana':18} # la clave es las 2 comillas simples '' o "" es la clave y : es el valor
print(miDiccionario)

{'Alejo': 34, 'Felipe': 45, 'Camila': 16, 'Jhoana': 18}

In [ ]:
print(miDiccionario['Alejo'])

34

In [ ]:
miDiccionario['Daniel'] = 75
print(miDiccionario)

{'Alejo': 34, 'Felipe': 45, 'Camila': 16, 'Jhoana': 18, 'Daniel': 75}

In [ ]:
# indexación en diccionarios
print(miDiccionario['Felipe'])

45

In [ ]:
# Mutabilidad de los diccionarios
miDiccionario['Felipe'] = 'string'
print(miDiccionario)

{'Alejo': 34, 'Felipe': 'string', 'Camila': 16, 'Jhoana': 18, 'Daniel': 75}

In [ ]:
# método items me permite mostrar todos items del diccionario
miDiccionario.items()

dict_items([('Alejo', 34), ('Felipe', 'string'), ('Camila', 16), ('Jhoana', 18), ('Daniel', 75)])

In [ ]:
#
for i,j in miDiccionario.items():
  print(i,j ,  end = "----- ") # el end  =  " " nos dice que no vaa aver salto de linea si no un espacio  el end es el final

Alejo 34----- Felipe string----- Camila 16----- Jhoana 18----- Daniel 75-----

In [ ]:
print(miDiccionario)

{'Alejo': 34, 'Felipe': 'string', 'Camila': 16, 'Jhoana': 18, 'Daniel': 75}

In [ ]:
# método keys  imprime en forma de listas con las []
miDiccionario.keys()

In [ ]:
# método values
miDiccionario.values()

In [ ]:
miDiccionario.items()

In [ ]:
miDiccionario['Daniel'] = 20

In [ ]:
miDiccionario

**Ejercicio 10:**

Escribir un programa que pregunte al usuario su nombre, edad, barrio y teléfono y lo guarde en un diccionario. Después debe mostrar por pantalla el mensaje 'Nombre' tiene 'edad' años, vive en 'barrio' y su número de teléfono es 'telefono'.

In [ ]:
# Ejercicio 10

In [ ]:
# método formkeys
x = ('key1','key2','key3')
y = 0
miDiccionario = dict.fromkeys(x,y)
print(miDiccionario)

{'key1': 0, 'key2': 0, 'key3': 0}

In [ ]:
miDiccionario["key1"] = 1

In [ ]:
# método pop
valor = miDiccionario.pop('key1') # permite  eliminar el dato que le digamos en esta caso key1

In [ ]:
valor

1

In [ ]:
miDiccionario

{'key3': 0}

In [ ]:
# metodo del
del miDiccionario["key2"] # nos permite eliminar tambien

In [ ]:
miDiccionario

In [ ]:
miDiccionario['key4'] = 5

In [ ]:
miDiccionario

**Ejercicio 11:**

Escribe un programa que lea una cadena y devuelva un diccionario con la cantidad de apariciones de cada carácter en la cadena.

In [ ]:
# Ingrese código
cadena = input ("ingrese una cadena: ")
diccionario = {}
for i in cadena:
  if i in diccionario:
    diccionario[i] += 1
  else:
    diccionario[i] = 1
print(diccionario)

**Ejercicio 12:**

Escribir un programa que gestione las facturas pendientes de cobro de una empresa. Las facturas se almacenarán en un diccionario donde la clave de cada factura será el número de factura y el valor el coste de la factura. El programa debe preguntar al usuario si quiere añadir una nueva factura, pagar una existente o terminar. Si desea añadir una nueva factura se preguntará por el número de factura y su coste y se añadirá al diccionario. Si se desea pagar una factura se preguntará por el número de factura y se eliminará del diccionario. Después de cada operación el programa debe mostrar por pantalla la cantidad cobrada hasta el momento y la cantidad pendiente de cobro.

In [ ]:
# Diccionario para guardar las facturas
facturas = {}
cobrado = 0.0  # Total cobrado hasta el momento

opcion = input("¿Desea añadir una nueva factura, pagar una existente o terminar? ")

while opcion != "terminar":
    if opcion == "añadir":
        numero_factura = input("Ingrese el número de factura: ")
        coste_factura = float(input("Ingrese el coste de la factura: "))
        facturas[numero_factura] = coste_factura
        print(f"Factura {numero_factura} añadida por ${coste_factura:.2f}")

    elif opcion == "pagar":
        numero_factura = input("Ingrese el número de factura a pagar: ")
        if numero_factura in facturas:
            cobrado += facturas[numero_factura]   # Sumamos al total cobrado
            print(f"Factura {numero_factura} pagada por ${facturas[numero_factura]:.2f}")
            del facturas[numero_factura]
        else:
            print("La factura no existe.")

    else:
        print("Opción inválida.")

    pendiente = sum(facturas.values())
    print(f"\nCantidad cobrada: ${cobrado:.2f}")
    print(f"Cantidad pendiente de cobro: ${pendiente:.2f}\n")

    opcion = input("¿Desea añadir una nueva factura, pagar una existente o terminar? ")

print("Programa terminado.")

¿Desea añadir una nueva factura, pagar una existente o terminar? añadir
Ingrese el número de factura: 1514
Ingrese el coste de la factura: 14
Factura 1514 añadida por $14.00

Cantidad cobrada: $0.00
Cantidad pendiente de cobro: $14.00

¿Desea añadir una nueva factura, pagar una existente o terminar? añadir
Ingrese el número de factura: 4548
Ingrese el coste de la factura: 125
Factura 4548 añadida por $125.00

Cantidad cobrada: $0.00
Cantidad pendiente de cobro: $139.00

¿Desea añadir una nueva factura, pagar una existente o terminar? añadir
Ingrese el número de factura: 1235
Ingrese el coste de la factura: 1254
Factura 1235 añadida por $1254.00

Cantidad cobrada: $0.00
Cantidad pendiente de cobro: $1393.00

¿Desea añadir una nueva factura, pagar una existente o terminar? pagar
Ingrese el número de factura a pagar: 1235
Factura 1235 pagada por $1254.00

Cantidad cobrada: $1254.00
Cantidad pendiente de cobro: $139.00

¿Desea añadir una nueva factura, pagar una existente o terminar? terminar
Programa terminado.

In [ ]:
print(facturas)

{'1234': 21.0, '12345': 32.0}

In [ ]:
# Escribe una función que tome el radio de un círculo como argumento y devuelva su área y perímetro
radio = input ("ingrese el radio del circulo: ")
def area_perimetro_circulo(radio):
    area = 3.14 * radio ** 2
    perimetro = 2 * 3.14 * radio
    return area, perimetro

ingrese el radio del circulo: 10

In [ ]:
conjunto = {1,2,2,3,4}
print(conjunto)

{1, 2, 3, 4}